geopy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
haversine
h5py==3.10.0
influxdb==5.3.1
keras==2.15.0
matplotlib==3.5.1
numpy>=1.22.2
pandas>=1.4.1
pytz>=2021.1
requests>=2.25.1
scipy<1.9.0
skforecast>=0.10.1
tensorflow
wheel